body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.half_width{
    width: 35%;
    float: left;
    padding-left:10%;
    padding-right:2%;
    padding-top:8%;
    margin-left: 2%;
}

.half_width img{
    width: 100%;
}

.header_area{
    background-image: url(images/header-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    height: 750px;
    
}

.section{
    padding-bottom: 180px;
}

.a{
    color: sandybrown;
    font-size: 40px;
    font-weight: 900;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,rgb(255, 122, 140),red);
    border: lightsalmon;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: 900s;

}

.second_area{
    background-image: url(images/biography-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    height:750px

}

.third_area{
    background-image: url(images/latest-work-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    height:500px
}

.work{
    width: 25%;
    padding-left: 3%;
}

.work-area{
    padding-left:10%;
    
}

.fourth_area{
    background-image: url(images/footer-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    height:500px


